/*CrayolaCSS*/

/*Colors*/
/* http://www.colourlovers.com/palette/253600/Cheap_crayon */
/*Crayon Colors*/
.crayonRed    { color:#D94A3D; }
.crayonYellow { color:#CED93D; }
.crayonGreen  { color:#3DD971; }
.crayonBlue   { color:#3D61D9; }
.crayonSea    { color:#3DAFD9; }

/*Crayon Box*/
/*http://www.colourlovers.com/palette/36561/crayon_box*/

.beard          { color:#CE5217;background-color: #CE5217; }
.orangeCat      { color:#CE8517;background-color: #CE8517; }
.lemongrass     { color:#CEC617;background-color: #CEC617; }
.mint           { color:#0D9C40;background-color: #0D9C40; }
.maxparrishblue3{ color:#326F94;background-color: #326F94; }



/*Typography*/
* {font-family:Lato;font-weight: 300;font-size:1.25rem;color:#333333;	margin-bottom:1.5rem;
	margin-top:0rem;}

h1,h2,h3,h4,h5 {
	font-weight:400;
	margin-bottom:1.5rem;
	margin-top:0rem;
}
h1{font-size:3rem}
h2{font-size:2rem}
h3, h4, h5 {font-size:1.5rem}
h4{font-style:italic;}
h5{font-style:italic;font-weight:300;}
.titleLead {text-align: center;letter-spacing: -5px;margin: 4rem 0px;text-shadow:1px 1px 1px #333333;}
.titleLead span{text-align:center;margin: 4rem 0px;font-style: italic;font-size: 9rem;font-weight: 400;}
@media all and (max-width: 660px){
	.titleLead { margin: 2rem 0px;}
	.titleLead span {margin: 2rem 0px; font-size: 4.5rem;}
}
p {font-size:1.25rem; font-weight:300; text-align: justify;margin-bottom:1.5rem;margin-top:0rem;}
blockquote { font-size: 2rem; margin:0rem 0rem 1.5rem 2rem;text-align: justify; }


/*links*/
a {text-decoration: underline;}
a:hover {text-decoration: none;}

/* Code Styling */

pre  {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 1rem;
	line-height: 1.25rem;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
	margin: 15px 0;
	font-family: Courier, monospace;
	display: block;
	white-space: pre;
}

code { 
	font-family: Courier, monospace;
	font-size: 1rem;
	line-height: 1.25rem;
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre code {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

p code {
	white-space: nowrap; 
}



/*buttons*/
input[type=submit], .button {
	display:inline-block;
	border-radius: 5px;
	padding: 6px 9px;
	border-color: #d9d9d9;
	border-width: 1px;
	border-style: solid;
	background:#ffffff;	
	-moz-transition: border-color, opacity, background-color 0.3s ease-in-out 0s;
	-o-transition: border-color, opacity, background-color 0.3s ease-in-out 0s;
	-webkit-transition: border-color, opacity, background-color 0.3s ease-in-out 0s;
	-ms-transition: border-color, opacity, background-color 0.3s ease-in-out 0s;
	transition: border-color, opacity, background-color 0.3s ease-in-out 0s;

	text-decoration: none;
	cursor: pointer;
}
input[type=submit]:focus, .button:focus, input[type=submit]:hover, .button:hover {
	/*outline:none;
	border:1px solid #000000;*/
	opacity: .83;
}


input[type=submit]:active, .button:active {
	background-color: #000000;
	color:#ffffff;
	border-color:#ffffff;
	outline:none;
	border:1px solid #ffffff;
}

input[type=submit].green, .button.green { background-color:#5BBF4B;color:#ffffff;}
input[type=submit].green:active, .button.green:active { background-color:#ffffff;color:#5BBF4B;border-color:#5BBF4B;}
input[type=submit].dangerous, .button.dangerous { background-color:#F5615E;color:#ffffff;}
input[type=submit].dangerous:active, .button.dangerous:active { background-color:#ffffff;color:#F5615E;border-color:#F5615E;}
input[type=submit].warning, .button.warning { background-color:#FDC228;color:#ffffff;}
input[type=submit].warning:active, .button.warning:active { background-color:#ffffff;color:#FDC228;border-color:#FDC228;}
input[type=submit].disabled, .button.disabled { background-color:#d3d3d3; color:#ffffff;}
input[type=submit].disabled:hover, .button.disabled:hover { border-color: #d9d9d9;}
input[type=submit].acknowledge, .button.acknowledge { background-color:#729FD9;color:#ffffff;}
input[type=submit].acknowledge:active, .button.acknowledge:active { background-color:#ffffff;color:#729FD9;border-color:#729FD9;}




/*banners*/
.banner {
	display:block;
	border-radius: 5px;
	padding: 6px 9px;
	border-color: #d9d9d9;
	border-width: 1px;
	border-style: solid;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	text-decoration: none;
}


.banner.green { background-color:#5BBF4B;color:#000000;}
.banner.dangerous { background-color:#F5615E;color:#000000;}
.banner.warning { background-color:#FDC228;color:#000000;}
.banner.disabled { background-color:#d3d3d3; color:#ffffff;}
.banner.disabled:hover { border-color: #d9d9d9;}
.banner.acknowledge { background-color:#729FD9;color:#000000;}


/* Action List*/
ol.actionList {
	list-style: none;
	padding:0px;
	line-height: 1.25rem;
}
ol.actionList li {
	margin-bottom: 5px;
	line-height: 1.25rem;
	-moz-transition: background-color 0.3s ease-in-out 0s;
	-o-transition: background-color 0.3s ease-in-out 0s;
	-webkit-transition: background-color 0.3s ease-in-out 0s;
	-ms-transition: background-color 0.3s ease-in-out 0s;
	transition: background-color 0.3s ease-in-out 0s;
	border-radius: 5px;
}
ol.actionList li:hover {
	cursor: pointer;
	background-color:#fcdd8d;
	color:#000000;
}
ol.actionList li table {
	margin-bottom: 0px;	
}

ol.actionList li table td:first-child {
	width:30px;
}

ol.actionList li table td {

}
ol.actionList li table td p {
	margin:0px;
}
ol.actionList li table td input {
	margin:1px 0px 0px 6px;
}


/* Link List*/
ol.linkList {
	list-style: none;
	padding:0px;
	line-height: 1.25rem;
	display: table;
	width:100%;
}
ol.linkList li {
	margin-bottom: 5px;
	line-height: 1.25rem;
	-moz-transition: background-color 0.3s ease-in-out 0s;
	-o-transition: background-color 0.3s ease-in-out 0s;
	-webkit-transition: background-color 0.3s ease-in-out 0s;
	-ms-transition: background-color 0.3s ease-in-out 0s;
	transition: background-color 0.3s ease-in-out 0s;
	border-radius: 5px;
}
ol.linkList li:hover {
	cursor: pointer;
	background-color:#fcdd8d;
	color:#000000;
}

ol.linkList li table {
	margin-bottom: 0px;	
	width:100%;
}

ol.linkList li table td {
	width:100%;
}
ol.linkList li table td p {
	margin:0px;
	width:100%;
}
ol.linkList li table td a {
	width:100%;
}
ol.linkList li table td input {
	margin:1px 0px 0px 6px;
}



/*Forms*/


textarea {
	margin-bottom: 1.5rem;
	margin-top: 0rem;
	font-family: Lato;
	width: 100%;
	height: 250px;
	border-radius: 5px;
	padding: 6px;
	border-color: #333333;
	border-width: 1px;
	-moz-transition:   border-color 0.3s ease-in-out 0s;
	-o-transition:     border-color 0.3s ease-in-out 0s;
	-webkit-transition:border-color 0.3s ease-in-out 0s;
	-ms-transition:    border-color 0.3s ease-in-out 0s;
	transition:        border-color 0.3s ease-in-out 0s;
}

textarea:focus {
	outline:none;
	border:1px solid #d9d9d9;
}



input[type=text], input[type=password], select {
	/*-webkit-appearance:caret;*/

	margin-bottom: 1.5rem;
	margin-top: 0rem;
	text-align: left;
	width: 300px;
	font-family: Lato;
	border-radius: 5px;
	padding: 6px;
	border-color: #333333;
	border-width: 1px;
	-moz-transition:   all 0.3s ease-in-out 0s;
	-o-transition:     all 0.3s ease-in-out 0s;
	-webkit-transition:all 0.3s ease-in-out 0s;
	-ms-transition:    all 0.3s ease-in-out 0s;
	transition:        all 0.3s ease-in-out 0s;
}

input[type=text]:focus, input[type=password]:focus, select:focus{
	outline:none;
	border:1px solid #d9d9d9;
}


.optionBox {
	display:block;
	position: relative;
	width:100%;
	clear: both;
}

/*images*/

.grater-container img {
	max-width: 100%;
	padding:0px;
	outline:none;
	border:0px solid transparent;
	margin: 0 auto;
	display: block;
	margin-bottom: 1.25rem;
}


/* Code Styling */

pre  {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 1rem;
	line-height: 1.25rem;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
	margin: 15px 0;
	font-family: Courier, monospace;
	display: block;
	white-space: pre;
}

code { 
	font-family: Courier, monospace;
	font-size: 1rem;
	line-height: 1.25rem;
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre code {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

p code {
	white-space: nowrap; 
}

body {
	background:url('linedpaper_@2x.png') ;

}