/*



Colors

Green: #aae832;
Blue: #00a8ff;
Pink: #e20050;



*/

/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

body {
    color: #FFFFFF;
	font: 16px/24px 'PlutoSansRegular', Arial, sans-serif;
}

.gigantic {
	font-size: 6.875em;
	line-height: 5em;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 4.25em;
	line-height: 3em;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 1.5em;
	line-height: 2em;
}

.bigger, h3 {
	font-size: 1.625em;
	line-height: 1.5em;
}

.big, h4 {
	font-size: 1.375em;
	line-height: 1.25em;
}


.small, small {
	font-size: 0.8125em;
	line-height: 0.75;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    color: #aae832;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}





/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}


/****
 *    HEADER
 ***/
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 35px;
  border-bottom: solid 1px rgba(0,0,0,0.63);
  background-color: rgba(0,0,0,0.4);
  line-height: 35px;
  vertical-align: middle;
}
header .container div{
  position: absolute;
  height: 35px;
  text-transform: uppercase;
  line-height: 35px;
}
header .container div.left {
  left: 0;
  font-size: 1.25em;
  font-family: 'PlutoSansRegular-Italic', arial, sans-serif;
}
header .container div.right {
  right: 0;
  font-size: 1.0em;
}

/*
 * Background Video and controls
 */

#background-video-container {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.audiobtn {
  display: inline-block;
  width: 21px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
}
.audiobtn.on {
  background: url(../img/btn-sound-on.png) no-repeat top center;
}
.audiobtn.off {
  background: url(../img/btn-sound-off.png) no-repeat top center;
}
.audiobtn.on:hover {
  background: url(../img/btn-sound-on-hover.png) no-repeat top center;
}
.audiobtn.off:hover {
  background: url(../img/btn-sound-off-hover.png) no-repeat top center;
}
.video-js {
  position: static !important;
}
.vjs-loading-spinner {
  display: none !important;
}

/****
 * Main content
 ***/

.container {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}

section {
  position: relative;
  width: 100%;
  margin-top: 35px;
padding: 5% 0;
}
section .container .sitetitle {
  width: 68.62745098%;
  margin: 0 auto;
  text-align: center;
}
section .container .sitetitle .titleimg {
  width: 100%;
}
section .container .sitetitle .titleimg img {
  width: 100%;
}
section .container .sitetitle .titleimg , section .container .sitetitle h2 {
  z-index: 1001;
  position: relative;
}
section .container .moviearea {
  background-color: rgba(0,0,0,0.41);
  padding: 6px;
  margin: 150px 0 2em;
}
section .container .moviearea ul, section .container .moviearea li {
  list-style-type: none;
}
section .container .moviearea ul {
  font-size: 0em;
  width: 100%;
}
section .container .moviearea li {
  display: inline-block;
  position: relative;
  width: 33.33333%;
  vertical-align: top;
}
section .container .moviearea li .moviebox {
  padding: 6px;
  cursor: pointer;
}
section .container .moviearea li .moviethumbnail {
  position: relative;
}
section .container .moviearea li .moviethumbnail img {
  width: 100%;
  display: block;
}
section .container .moviearea li .moviethumbnail img.boxText {
  position: absolute;
  bottom: 0px;
}


section .container .moviearea li .movieoverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.26);
}
section .container .moviearea li .moviebox.hover .movieoverlay, section .container .moviearea li:hover .movieoverlay {
  background-color: transparent;
}
section .container .moviearea li .playbutton {
  display: block;
  position: absolute;
  top: 36.5%;
  left: 50%;
  margin: -41px 0 0 -42px;
  width: 84px;
  height: 82px;
  background: url(../img/btn-play-default.png) no-repeat top center;
}
section .container .moviearea li .moviebox.hover .playbutton.green, section .container .moviearea li:hover .playbutton.green {
  background: url(../img/btn-play-green.png) no-repeat top center;
}
section .container .moviearea li .moviebox.hover .playbutton.pink, section .container .moviearea li:hover .playbutton.pink {
  background: url(../img/btn-play-pink.png) no-repeat top center;
}
section .container .moviearea li .moviebox.hover .playbutton.blue, section .container .moviearea li:hover .playbutton.blue {
  background: url(../img/btn-play-blue.png) no-repeat top center;
}


footer {
  font-size: 0.875em;
  font-family: 'PlutoSansRegular', arial, sans-serif;
  margin: 0 0 3em;
  height: 4.2em;
}
footer .container {
  position: relative;
  border-top: solid 2px rgba(255,255,255,.40);
  height: 5.2em;
}
footer .container div {
  position: absolute;
}
footer .container div.left {
  left: 0;
  text-transform: uppercase;
  bottom: 1em;
}
footer .container div.right {
  right: 0;
  bottom: 0.5em;
}
.icon.nrf {
  display: inline-block;
  width: 52px;
  height: 40px;
  background: url(../img/logo-nrf.png) no-repeat top left;
}
/*.icon.nrf:hover {
  background: url(../img/logo-nrf-hover.png) no-repeat top left;
}*/
.socialicon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 0 0 1.0em;
}
.socialicon.pinterest {
  background: url(../img/icon-pinterest.png) no-repeat top left;
}
.socialicon.facebook {
  background: url(../img/icon-facebook.png) no-repeat top left;
}
.socialicon.twitter {
  background: url(../img/icon-twitter.png) no-repeat top left;
}
.socialicon.youtube {
  background: url(../img/icon-youtube.png) no-repeat top left;
}
.socialicon.linkedin {
  background: url(../img/linkedinIcon.png) no-repeat top left;
}




.socialicon.pinterest:hover {
  background: url(../img/icon-pinterest-hover.png) no-repeat top left;
}
.socialicon.facebook:hover {
  background: url(../img/icon-facebook-hover.png) no-repeat top left;
}
.socialicon.twitter:hover {
  background: url(../img/icon-twitter-hover.png) no-repeat top left;
}
.socialicon.youtube:hover {
  background: url(../img/icon-youtube-hover.png) no-repeat top left;
}
.socialicon.linkedin:hover {
  background: url(../img/linkedinIconHover.png) no-repeat top left;
}

.socialBar {
  width:100%;
  display: block;
  height:35px;
  padding:5px 0px;
}
.socialBar span {
  float:right;
}

/* Modal PopUppery  */
.modalPopup {
  /*position: fixed;*/
  width:50%;
 /* height:498px;*/ /* 28.125% of width*/
  margin-left:-25%;
  left:50%;
  top:50px;
  z-index: 100000;
  padding: 5px;
  background: #333333;
}
.modalPopup.visible {
  position: fixed;
}
.modalPopup.visible, .modalOverlay.visible, iframe.visible {
  display: block;
}

.modalPopup.invisible, .modalOverlay.invisible, iframe.invisible {
  display: none;
}


.modalPopup .closeButton {
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  width:29px;
  height:33px;
}
.modalPopup .closeButton p {
  margin:-10px 30px 0 -41px;
  display: none;
}
.modalPopup .closeButton:hover p {
  display: block;
}
.modalPopup .closeButton img {
  position: absolute;
  display: block;
  width:39px;
  height:40px;
  top:-6px;
  right:-10px;
}


.modalOverlay {
  display: block;
  width: 100%;
  height:100%;
  background: url(../img/greyOverlay.png) repeat center center;
  position: fixed;
  top: 0px;
  left: 0px;
}




/* Hidden Section */
#hiddenSection.invisible { position: absolute; top: 0px; z-index: -100; }
#hiddenSection.visible   { position: absolute; top: 0px; z-index: 1000; }

/* Modal PopUppery  */
.modalPopup2 {
  position: absolute;
  width:900px;
  height: auto;
  margin:0 auto;
  top:50px;
  z-index: 100000;
  padding: 32px;
  background: #333333;
  background: url(../img/transparentBG.png) repeat center center;
  left: inherit;
}

.modalPopup2.visible {
  z-index: 10000 !important;
  display: block !important;
  opacity: 1;
  position: absolute;
  top: 0px;
}

.modalPopup2.invisible {
  z-index: -100 !important;
  display: block !important;
  opacity: 0;
  position: absolute;
}



.modalPopup3, .modalPopup4 {
  position: absolute;
  width:664px;
  height: auto;
  margin:0 auto;
  top:50px;
  z-index: 100000;
  padding: 32px;
  background: #333333;
  background: url(../img/transparentBG.png) repeat center center;
  left: inherit;
}

.modalPopup3.visible, .modalPopup4.visible {
  z-index: 10000 !important;
  display: block !important;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -364px;
}

.modalPopup3.invisible {
  z-index: -100 !important;
  display: block !important;
  opacity: 0;
  position: absolute;
}
.modalPopup4.invisible {
  z-index: -100 !important;
  display: none;
  opacity: 0;
  position: absolute;
}



.sliderArea {
  display: block;
  width: 100%;
  z-index: -100;
  position: absolute;
  top: 0px; 
  height:700px;
  overflow: hidden;
}


#slider {
  width:100%;
  height:100%;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  width:100%;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap > div img {
  width:100%;
  height:auto;
}

.swipe h3 {
  font:  3.5rem/4rem 'PlutoSansRegular-Italic', Arial, sans-serif;
  padding:0px 0px 10px;
  border-top: 0px solid #ffffff ;
  border-bottom: 2px solid #ffffff ;
  margin:0px 0px;
  font-weight: normal !important;
  text-align: center;
}
.swipe p  {
  font:  0.9rem/1.5rem 'PlutoSansRegular-Italic', Arial, sans-serif;
  padding:10px 0px;
  border-top: 0px solid #ffffff ;
  border-bottom: 0px solid #ffffff ;
  margin:10px 0px;
  font-weight: normal !important;
  text-align: center;
}



/*.sliderNav*/
.sliderNav {
  width:100%;
  margin-left: -32px;
  margin-top:250px;
  position: absolute;
}
.sliderNav .next, .sliderNav .prev {
  width:31px;
  height: 60px;  
  display: block;
  position: absolute;
  cursor: pointer;
}
.sliderNav .next {
  right: 0px;
  background: url(../img/rightArrow.png) no-repeat center center;
  margin-right:-45px;
}
.sliderNav .prev {
  left: 0px;
  background: url(../img/leftArrow.png) no-repeat center center;
  margin-left:-45px;
}
.sliderNav .next:hover {
  background: url(../img/rightArrowHover.png) no-repeat center center;
}
.sliderNav .prev:hover {
  background: url(../img/leftArrowHover.png) no-repeat center center;
}


.sitetitle.mobile {
  display: none;
}



/*special Modal Popup Styles*/

#modalPopup1.invisible {
  height: 0px !important;
  padding:0px !important;
}
#modalPopup1.visible {
  height: inherit;
}




/* clickable areas of final slide. */
.hotspot1 {
  display: block;
  position: absolute;
  left: 92px;
  top: 267px;
  width:421px;
  height: 90px;
  z-index:100;
}
.hotspot2 {
  display: block;
  position: absolute;
  left: 216px;
  top: 400px;
  width:175px;
  height: 32px;
  z-index:100;
}
.hotspot3 {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
  z-index:100;
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 1180px) {



	.container {
    width: 100%;
    position: relative;
  }

  .modalPopup2, .modalPopup3 {
    width:600px;
  }
  .modalPopup4 {
    height: 500px
  }
  .modalPopup2.visible, .modalPopup3.visible {
    position: relative;
    margin: 0 auto;
    left:inherit;
  }

  .modalPopup2.invisible, .modalPopup3.invisible {
    position: absolute;
  }

  section .container .sitetitle {
    /*height:430px !important;*/
  }

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		/*width: 252px;
    padding: 48px 34px 60px;*/
    width:90%;
		padding: 48px 5% 60px;
    background: #202020;
	}
  .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .moviearea {
    display: none;
  }
  #hiddenSection.invisible, #hiddenSection.visible {
    position: relative;
    z-index: 1000;
  }
  .modalPopup3.invisible, .modalPopup2.invisible, .modalPopup4.invisible,
   .modalPopup3.visible, .modalPopup2.visible, .modalPopup4.visible {
    z-index: 1000 !important;
    display: block !important;
    opacity: 1;
    width:100%;
    padding: 0px;
    position: relative;
    margin-top: 32px;
    background: url('') #202020;
  }
  .modalPopup4 {
    height:400px;
  }
  .modalPopup4.invisible {
    display: block;
  }

  #background-video-container {
    display:none;
  }
  .container {
    width:100% !important;
    margin:0 auto;
  }
  .closeButton {
    display: none;
    visibility: hidden;
  }
  h1 {
    font:  2.5rem/2.5rem 'PlutoSansRegular-Italic', Arial, sans-serif;
    padding:10px 0px 0px;
    border-top: 2px solid #ffffff ;
    border-bottom: 2px solid #ffffff ;
    margin:10px 0px;
  }
  h2 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  section .container .sitetitle.mobile {
    width:100%;
    position: relative;
    z-index:100;
  }
  .sitetitle.mobile {
    display: block;
  }
  .sitetitle.desktop {
    display: none;
  }
  .sliderNav {
    display: none;
  }
  header {
    display: none;
  }
  section {
    margin:0px;
    padding:0px;
  }
  .swipe h3 {
    font:  2.25rem/2.25rem 'PlutoSansRegular-Italic', Arial, sans-serif;
    padding:10px 0px;
    margin:10px 0px;
  }
  .swipe p  {
    font:  0.9rem/1.5rem 'PlutoSansRegular-Italic', Arial, sans-serif;
  }
  section .container .sitetitle {
    height:auto !important;
  }
  .youtubeMobile1 img {
    position: relative;
    z-index: -1;
    display: block;
  }

  .hotspot1, .hotspot2 {
    display: none;
  }

  .hotspot3 {
    display: block;
  }

}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/*body {
		width: 436px;
		padding: 36px 22px 48px;
	}*/
  body {
    /*width: 252px;
    padding: 48px 34px 60px;*/
    width:90%;
    padding: 48px 5% 60px;
  }
  .modalPopup2, .modalPopup3 {
    width:400px;
  }
  .modalPopup4 {
    height:500px;
  }

	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}





/*Contain Floats*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#theWidth, #thePixels {
  position: fixed;
  top:36px;
  z-index: 1000000;
  width:100px;
  height:50px;
  background:#000000;
}
#thePixels {right:0;}
#theWidth  {left:0;}
#theWidth h2{
  color:#ffffff;
  text-align: center;
}
#thePixels h2 {
  color:#ffffff;
  text-align: center;
}